{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <link href='https://dl.dropboxusercontent.com/s/dcgtnlepsegtqxk/style.css' rel='stylesheet'/>

    <link rel="stylesheet" type="text/css" href="{% static 'home/css/nous.css' %}">

{% endblock %}

{% block content %}



<section id="petitbureau">
  <div class="title">
    <h2>Petit Bureau</h2>
    <h3>Le petit bureau a différents rôles mais en particulier la gestion des différents pôles, de l'administratif et du budget de l'association.</h3>
  </div>
  <div class="separation"></div>
  <div class="petitbureau">
    
    <div class="prez">
      <img class="personne" src="{% static 'home/img/eva.png' %}">
      <div class="text">
          <h1>Eva Allard-Brunel</h1><h3><strong>Présidente</strong></h3>
        <p class="desc">Mon rôle : coordonner tous les pôles de l'association pour encore plus d'actions.</p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
       </center>
    </div>
    </div>
    <div class="vp">
      <img class="personne" src="{% static 'home/img/Ines.png' %}">
      <div class="text">
          <h1>Inés Saïdi</h1>
            <h3><strong>Vice-Présidente</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
    </div>
    <div class="treso">
      <img class="personne" src="{% static 'home/img/Mariame.png' %}">
      <div class="text">
          <h1>Mariame Bangoura</h1><h3><strong>Trésorière</strong></h3>
        <p class="desc">Gérer les flux monétaires de l’association et « définir » le budget pour nos différents projets.</p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>

          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
    </div>
    <div class="secretaire">
      <img class="personne" src="{% static 'home/img/Hanna.png' %}">
      <div class="text">
          <h1>Hanna Fellah</h1><h3><strong>Secrétaire</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
      </div>
</section>

  

<section id="cordees">
  <div class="title">
    <h2>Pôle Cordées de la Réussite</h2>
    <h3>Notre pôle Cordées de la Réussite organise les interventions au sein de nos établissements partenaires, que ce soit les interventions Orientation, les sorties culturelles ou encore les visites d'entreprises.</h3>
  </div>
  <div class="separation"></div>
    <div class="cordees">
    <div class="aniss">
      <img class="personne" src="{% static 'home/img/Aniss.png' %}">
      
      <div class="text">
      <h1>Aniss Gueraba</h1><h3><strong>Responsable Galilée</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
    <div class="bilal">
      <img class="personne" src="{% static 'home/img/Bilal.png' %}">
      <div class="text">
          <h1>Bilal Khedimi</h1><h3><strong>Responsable Le Village</strong></h3>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
      </div>
    </div>
    <div class="myriam">
      <img class="personne" src="{% static 'home/img/Myriam.png' %}">
      <div class="text">
          <h1>Myriam Bouali</h1><h3><strong>Responsable Georges Brassens</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
    <div class="linda">
      <img class="personne" src="{% static 'home/img/Linda.png' %}">
      <div class="text">
          <h1>Linda Derardja</h1><h3><strong>Responsable Paul Eluard</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
      </div>
    </div>
  
      </div>
</section>

<section id="citoyennete">
  <div class="title">
    <h2>Pôle Citoyenneté</h2>
    <h3>Le pôle Citoyenneté s'occupe d'organiser la Semaine de l'Ouverture et de la Tolérance sur notre campus ainsi que sur le collège Paul Eluard.</h3>
  </div>
  <div class="separation"></div>
  <div class="citoyennete">
    <div class="kenza">
      <img class="personne" src="{% static 'home/img/Kenza.png' %}">
      <div class="text">
          <h1>Kenza Gavaland</h1><h3><strong>Responsable Citoyenneté</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
    <div class="hiba">
      <img class="personne" src="{% static 'home/img/Hiba.png' %}">
      <div class="text">
          <h1>Hiba Liq</h1><h3><strong>Responsable Citoyenneté</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
    <div class="mariam">
      <img class="personne" src="{% static 'home/img/Mariam.png' %}">
      <div class="text">
      <h1>Mariam Jabri</h1>
        <h3><strong>Responsable Citoyenneté</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/profile.php?id=100059189140935"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/mariam-jabri-113343221"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
  </div>
</section>

<section id="comRE">
  <div class="title">
    <h2>Pôle Communication et Relations Entreprises</h2>
    <h3>Le pôle Communication et Relations Entreprises se charge des supports de communication de tous les événements organisés par l'association ainsi que la recherche de partenaires pour mener nos projets.</h3>
  </div>
  <div class="separation"></div>
  <div class="comRE">
    <div class="salah">
      <img class="personne" src="{% static 'home/img/Salah.png' %}">
      <div class="text">
          <h1>Salaheddine Mehiaoui</h1><h3><strong>Responsable Communication et Relations Entreprises</strong></h3>
        <p class="desc">Mon rôle est de créer et maintenir le lien entre l’association et les entreprises partenaires.</p>
        <center>
          <a href="https://www.facebook.com/salah.mehiaoui.1"><i class="icon-FACEBOOK"></i></a>

          <a href="https://www.linkedin.com/in/salaheddine-mehiaoui"><i class="icon-LINKEDIN"></i></a>
</center>
    </div>
      </div>
    <div class="khoudia">
      <img class="personne" src="{% static 'home/img/Khoudia.png' %}">
      <div class="text">
          <h1>Khoudia Dramé</h1><h3><strong>Responsable Communication</strong></h3>
        <p class="desc">Je mets ma créativité au service de l'association en gérant son identité visuelle.</p>
        <center>
          
<a href="https://instagram.com/khoudia_rim?igshid=YmMyMTA2M2Y="><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/khoudia-dram%C3%A9-110571196"><i class="icon-LINKEDIN"></i></a>
</center>
        </div>
    </div>
    <div class="linda">
      <img class="personne" src="{% static 'home/img/Linda.png' %}">
      <div class="text">
          <h1>Linda Derardja</h1><h3><strong>Responsable Communication</strong></h3>
        <p class="desc"></p>
        <center>
          <a href="https://www.facebook.com/eva.allardbrunel/"><i class="icon-FACEBOOK"></i></a>
<a href="https://www.instagram.com/evabrunel_/"><i class="icon-INSTAGRAM"></i></a>
          <a href="https://www.linkedin.com/in/eva-allard-brunel-362870210"><i class="icon-LINKEDIN"></i></a>
</center>
        </div>
    </div>
      </div>
    </div>
</section>


<script src="{% static 'home/js/nous.js' %}"></script>

   
{% endblock content %}
